* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    border: 1px solid red;
}

.section {
    margin: 0px;
    padding: 75px 0px;
}

.welcome-section {
    padding-top: 0;
}

.dark-section {
    background: #030303;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    border: #FFFFFF 1px solid;
}

.header {
    background: #030303;
}

.header-container {
    display: flex;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    width: 199px;
    /* border: #FFFFFF 1px solid; */
}

.logo {
    width: 49px;
    height: 26px;
    background-image: url("assets/svg/logo.svg");
}

.logo-name {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 28px;
}

.menu {
    width: 720px;
    /* border: #FFFFFF 1px solid; */
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/* WELCOME SECTION */

.welcome-container {
    width: 1440px;
    height: 840px;
    background-repeat: no-repeat;
    /* background-image: url("assets/img/welcome.jpg"); */
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) calc(50% - 250px), transparent calc(40% + 100px)), url("assets/img/welcome.jpg") no-repeat top right;
    background-size: auto 100%;
}

h1 {
    color: #FFFFFF;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.section-title {
    margin-top: 150px;
}

.par p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.par {
    margin-top: 25px;
}

.title-button {
    margin-top: 75px;
    width: 360px;
    height: 75px;
    background-color: #710707;
    border-radius: 10px;
    border-color: brown;
    display: flex;
    align-items: center;
    text-align: center;
}

.title-button a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

/* VIRTUAL TOUR SECTION */

.border-bottom h1 {
    color: #9D8665;
    padding-bottom: 25px;
    border-bottom: #710707 3px solid;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
}

.tours-container {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 75px;
    max-width: 1440px;
}

.tour-item {
    text-decoration: none;
    display: block;
    width: 440px;
    height: 424px;
}

.tour-img {
    width: 440px;
    height: 285px;
    border: rgb(117, 117, 187) 1px solid;
}

.tours-container h3 {
    margin-top: 25px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000000;
}

.tours-container hr {
    margin-top: 10px;
    left: 0px;
    top: 355px;
    border-radius: 0px;
}

.tours-container p {
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

/* PICTURE EXPLORE SECTION */

.dark-section .border-bottom h1 {
    color: white;
    border-bottom: #710707 3px solid;
}

.dark-section p {
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: #FFFFFF;
}

.par-container {
    margin-top: 75px;
    max-width: 660px;
}

.explore-container {
    display: flex;
    column-gap: 60px;
    flex-wrap: wrap;
}

.text-block {
    width: 45.8%;
}

.image-block {
    width: 50%;
}

.picture {
    background-image: url("./assets/img/explore-img1.jpg ");
    max-width: 720px;
}

.picture img:last-child {
    position: relative;
    left: -24px
}

.picture img:last-child:hover {
    cursor: pointer;
}

.par-container span {
    color: #CAAA7D;
}

/* VIDEO SECTION */

.video-colums {
    display: flex;
    column-gap: 60px;
    flex-wrap: wrap;
}

.video-container h1 {
    border: none;
    width: 45%;
}

.video-par-block {
    width: 50%;
}

.video-par-block p {
    font-family: Roboto;
    font-style: light;
    font-size: 22px;
    line-height: 38.5px;
    line-height: 149%;
}

video {
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

.mainPlayIcon {
    position: absolute;
    border: black solid 1px;
}

.progress {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
    border: solid 2px #710707;
    border-radius: 8px;
    height: 7px;
    width: 919px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

/* .video-block {
    position: relative;
} */

.progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #434343;
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -3px;
    margin: 0px;
    height: 85px;
    background-color: black;
}

.volume-progress {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #C4C4C4 40%, #C4C4C4 100%);
    border: solid 2px #710707;
    border-radius: 8px;
    height: 7px;
    width: 155px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.volume-progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #434343;
}

.video-slider-item {
    width: 452px;
    height: 254px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-slider {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.video-slider-itemButton {
    position: absolute;
    background-image: url("./assets/img/youtube-button.png");
    width: 68px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controls {
    margin: 40px auto 0;
    width: 200px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-controls input {
    visibility: hidden;
    position: absolute;
}

.slider-controls label {
    cursor: pointer;
}

.slider-controls img {
    width: 12px;
    height: 12px;
}

/* GALLERY SECTION */

.gallery {
    margin-top: 75px;
    display: flex;
    column-gap: 36px;
    row-gap: 40px;
}

.gallery-column-item {
    margin-top: 24px;
}

.gallery-column1 div:first-child {
    margin-top: 50px;
}

.gallery-column3 div:first-child {
    margin-top: 50px;
}

.gallery-column2 div:first-child {
    margin-top: 0px;
}

/* TICKETS SECTION */